@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  [data-theme="light"] {
    --background: 0 0% 95%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 95%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 95%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 6 48% 60%;
    --primary-foreground: 6 56% 89%;
 
    --secondary: 60 4.8% 90.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 90.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 90.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 94.8%;

    --border: 20 5.9% 80%;
    --input: 20 5.9% 80%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  [data-theme='dark']  {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;

    --card: 20 14.3% 5.5%;
    --card-foreground: 0 0% 95%;

    --popover: 20 14.3% 5.5%;
    --popover-foreground: 0 0% 95%;

    --primary: 6 48% 45%;
    --primary-foreground: 6 56% 89%;

    --secondary: 60 4.8% 30%;
    --secondary-foreground: 60 4.8% 90.9%;

    --muted: 20 14.3% 10%;
    --muted-foreground: 60 4.8% 90.9%;

    --accent: 60 4.8% 30%;
    --accent-foreground: 60 4.8% 90.9%;

    --destructive: 0 84.2% 40%;
    --destructive-foreground: 0 0% 95%;

    --border: 20 5.9% 15%;
    --input: 20 5.9% 15%;
    --ring: 0 0% 95%;

    --radius: 0.5rem;
  }
}
